/* Default zsh terminal look: pure black, system monospace */
:root {
  font-family: Menlo, Monaco, 'Courier New', Consolas, monospace;
  line-height: 1.4;
  font-weight: 400;
  color-scheme: dark;
  color: #e5e5e5;
  background-color: #000000;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #5eb3f6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #000000;
}

h1, h2, h3 {
  font-family: inherit;
  font-weight: 400;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
}
